# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\norah\OneDrive - uni-bielefeld.de\Dokumente\MEGA\Uni 2021\Bachelor\votingSystems\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
